<div class="container">
  <h1>Tipo de Cambio Dólar</h1>
  <table class="table">
    <thead>
      <tr>
        <th>Fecha:</th>
        <th>Valor:</th>
      </tr>
    </thead>
    <tbody>
      <% @datos["serie"].each do |dato| %>
        <tr>
          <td><%= dato["fecha"] %></td>
          <td><%= dato["valor"] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
